.scaleImg {
	transition: transform .4s ease-out;
}
.zzz{
	margin-top:10px; 
}

.scaleImg:hover {
	transform: scale(1.05);
}
.card-list-item{
	border:0;
}
.card-list-item:hover{
	background:lightyellow;
}


.imgAssetIndex {
	height: 78px;
	width: 68px;
}

.formContainer {
	background-color: #fff;
	width: 80vh;
	border: solid 2px lightgray;
	padding: 30px;
	border-radius: 3%;
}

.asset-item {
	display: inline-block;
	width: 350px;
	text-align: center;
	border: 1px solid lightgray;
	margin: 5px;
	padding: 2px;
}

.asset-item:hover {
	border: 3px solid green;
	border-radius: 5px;
	padding: 0;
	background: rgb(247, 251, 247);
}

.backgroundLogin {
	background-image: url("../../images/backgroundLogin2.jpg");
	/*to be checked if the link works*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.footer-main{
	text-align: center;
}
.footer-welcome {
	left: 20px;
	position: fixed;
	bottom: 0;
}