a img {
	transition: transform .4s ease-out;
}

a img:hover {
	transform: scale(1.05);
}

.imgAssetIndex {
	height: 78px;
	width: 68px;
}

.formContainer {
	width: 80vh;
	margin-left: 40vh;
	
	border: solid 2px lightgray;
	padding: 30px;
	
	border-radius: 3%;
}
.asset-item {
            display: inline-block;
            width: 350px;
            text-align: center;
            border: 1px solid lightgray;
            margin: 5px;
            padding: 2px;
        }

            .asset-item:hover {
                border: 3px solid green;
                border-radius: 5px;
                padding: 0;
                background: rgb(247, 251, 247);
            }